
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    
}


table {
    margin: auto; 
    background: black; 
    cursor: crosshair; 
}
td {
    line-height: 0; 
    width: 40px; height: 40px; 
    background: black; 
    text-align: center; 
    vertical-align: middle; 
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
tr:nth-child(odd) td:nth-child(odd), 
tr:nth-child(even) td:nth-child(even) {
    background: white; 
}

.blancas, .negras {
    display: inline-block; 
    font: 800 30px/1 "ms mincho", "dejavu sans", "dejavu sans condensed", "dejavu sans mono", quivira, "arial unicode ms", code2000, "droid sans fallback", eversonmono, freeserif, "gnu unifont", "segoe ui symbol", "y.ozfont", "unicode bmp fallback sil", serif; 
    width: 80%; height: 80%; 
    background: white; 
    color: black; 
    border: 2px outset dimgrey; 
    border-radius: 100%; 
    overflow: hidden; 
    cursor: -ms-grab; 
    cursor: -moz-grab; 
    cursor: -webkit-grab; 
    cursor: grab; 
}

.negras {
    background: black; 
    color: white; 
    border: 2px outset gainsboro; 
}

.mano {
    cursor: -ms-grabbing; 
    cursor: -moz-grabbing; 
    cursor: -webkit-grabbing; 
    cursor: grabbing; 
}

#fantasma {
    position: absolute; 
    display: none; 
    width: 40px; height: 40px; 
    top:0; left: 0; 
    pointer-events: none; 
}